/*
html {
  scroll-behavior: smooth;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, p, span, body, div {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 480px) {
  .force-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
  }
}