p, a, h1, h2, h3, h4, h5, h6, input, label {
	font-family: 'Roboto', sans-serif;
}

#loadingoverlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.75);
	display: none;
	
}

#hugger {
	color: #e1e1e1;
	background: rgba(0,0,0,0.85);
	border-top: 0.1rem solid #a5a5a5;
	text-align: center;
	left: 0;
	right: 0;
	height: 4rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: fixed;
	bottom: 0;
}

#hugger h6 {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 4rem;
}

#loaddone, #error {
	position: absolute;
	margin-top: 0.9rem;
	display: inline-block;
	height: 2rem;
}

#loaddone img, #error img {
	margin-left: 1.5rem;
	display: none;
	width: inherit;
	height: inherit;
}

#login {
	margin-top: 20rem;
}

#login h3 {
	letter-spacing: 0.15rem;
	font-weight: 300;
	color: #f5f5f5;
}

#login h5 {
	color: #a1a1a1;
}

#loginbtn {
	height: auto;
	width: 200px;
	cursor: pointer;
}

.container {
	max-width: 1200px;
}

#loggedin, #login {
	display: none;
}

body {
	background-color: #272822;
	background-image: url("../images/dark_tile.png")
}

.columns {
	padding: 0;
	margin-left: 0;
	margin-bottom: 10px;
}

.entry {
	height: 10rem;
	background: #f2f1ef;
	background: -moz-linear-gradient(top, #f2f1ef 0%, #dedbd2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f1ef), color-stop(100%,#dedbd2));
	background: -webkit-linear-gradient(top, #f2f1ef 0%,#dedbd2 100%);
	background: -o-linear-gradient(top, #f2f1ef 0%,#dedbd2 100%);
	background: -ms-linear-gradient(top, #f2f1ef 0%,#dedbd2 100%);
	background: linear-gradient(to bottom, #f2f1ef 0%,#dedbd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1ef', endColorstr='#dedbd2',GradientType=0 );
	position: relative;
	overflow: hidden;
	border-radius: 0.2rem;
}

.playlistImg {
	margin-top: 0.9rem;
	margin-left: 1rem;
	display: inline-block;
	height: 8rem;
	width: 8rem;
	border: 0.1rem solid #656565;
}

.playlistImg img {
	height: inherit;
}

.content {
	height: 10rem;
	margin-top: 1rem;
	margin-left: 1.5rem;
	position: absolute;
	display: inline-block;
}

.active .playlistImg {
	margin-left: 2.5rem;
}

.selected {
	width: 1.5rem;
	position: absolute;
	left:0;
	top:0;
	height: 10rem;
	display: none;
	background: rgb(132,189,0);
	border-radius: 0.1rem 0 0 0.1rem;
}

.content h5 {
	top: 0;
	color: #4A4A4A;
	font-size: 1.5rem;
	font-weight: 300;
}

.content h3 {
	top: 0;
	color: #272727;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 0.3rem !important;
}

.content h3, .content h5 {
	margin: 0;
	padding: 0;
}

#title {
	letter-spacing: 0.2rem;
	margin-top: 1.5rem;
	color: #f8f8f8;
	font-weight: 300;
	font-size: 3rem;
}

#helper {
	margin-bottom: 1.5rem;
	color: #c8c8c8;
	font-weight: 100;
}

label {
	font-weight: 100;
}

#generate {
	margin-top: 1rem;
}

#generate label {
	color: #a1a1a1;
}

#generate #submit {
	margin-left: 0;
	height: 38px;
	width: 158px;
	display: block;
	margin-bottom: 1rem;
}

#generate h5 {
	color: #a1a1a1;
	font-size: 2rem;
	font-weight: 100;
}

#createrow {
	width: 100% !important;
	display: block;
}

#playlistName {
	width: 100%;
	display:block;
}

#creator p {
	margin-top: 1rem;
	margin-bottom: 0rem;
	color: #f5f5f5;
	padding: 0;
	font-weight: 100;
	display: block;
}

#creator a {
	margin: 0;
	color: #a5a5a5;
	padding: 0;
	font-weight: 100;
}

#note {
	margin-bottom: 1.5rem !important;
}

@media (max-width: 1199px) {
	.four {
		width: 100% !important;
	}
}

@media (min-width: 500px) {
	#createrow {
		width: 100% !important;
		display: flex;
	    flex-direction: row;
	}
	#playlistName {
		width: auto;
		display:inline-block;
	    list-style: none;
	    flex-grow: 1;
	}
	#generate #submit {
		margin-left: 10px;
		height: 38px;
		width: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.columns {
		padding: 0;
		margin-left: 0.4rem;
		margin-right: 0.4rem;
		margin-bottom: 0.8rem;
	}
	.four {
		width: 32.5% !important;
	}
	#title {
		margin-top: 4rem;
	}
}

@media (min-width: 1000px) {
	#creator p {
		margin-bottom: 1.5rem;
		display: inline-block;
		float: left;
	}
	#note {
		float: right !important;
	}
}