html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 780px) {
  section {
    max-width: 80%;
    margin: auto;
  }

  body {
    padding-bottom: 10rem;
  }
}

@media (max-width: 1024px) {
  .columns {
    width: 100% !important;
    margin-left: 0 !important;
  }
}